DATABASE_URL = mongodb+srv://gkblog:qweasdzxc123@gkblog.ac279jr.mongodb.net/?retryWrites=true&w=majority&appName=gkblog
SALT_IP_ADDRESS = qweasdzxc123
NEXT_PUBLIC_BAIDU_TONGJI = 22183279
NEXT_PUBLIC_GOOGLE_ID = G-D2QG5NH1RK
NEXT_PUBLIC_CLARITY_TAG_ID = xxxxxxxxxxxxxx
NEXT_PUBLIC_TWIKOO_ENVID = xxxxxxxxxxxxxx